.accroche {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dlumucj7m/image/upload/v1671637268/janko-ferlic-sfL_QOnmy00-unsplash_xrugmd.jpg");
  background-size: cover;
  background-position: center;
  color:white;
  font-weight: bolder;
}
